/* TOGGLE BUTTON */
.toggle-btn {
  position: fixed;
  top: 170px;
  left: 15px;
  background: linear-gradient(45deg, #ff4d4d, #ff0000);
  color: white;
  border: none;
  padding: 12px 12px;
  border-radius: 12px;
  cursor: pointer;
  z-index: 1001;
  font-weight: bold;
  box-shadow: 0 6px 15px rgba(0,0,0,0.3);
  transition: 0.3s;
}

.toggle-btn:hover {
  transform: scale(1.05);
}

/* OVERLAY */
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  top: 0;
  left: 0;
  z-index: 999;
  backdrop-filter: blur(3px);
}

/* SIDEBAR */
.sidebar {
  position: fixed;
  top: 0;
  left: -350px;
  width: 320px;
  height: 100%;
  background: #ffffff;
  padding: 25px;
  transition: all 0.4s ease;
  z-index: 1000;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  box-shadow: 4px 0 20px rgba(0,0,0,0.2);
  overflow-y: auto;
}

/* OPEN STATE */
.sidebar.open {
  left: 0;
}

/* CLOSE BUTTON */
.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  background: none;
  border: none;
  font-size: 22px;
  cursor: pointer;
}

/* TITLE */
.sidebar h2 {
  margin-top: 20px;
  font-size: 22px;
  color: #ff4d4d;
}

/* CARD */
.card {
  background: linear-gradient(135deg, #ffe6e6, #fff5e6);
  padding: 18px;
  border-radius: 15px;
  margin-top: 20px;
  line-height: 1.6;
  box-shadow: 0 6px 15px rgba(0,0,0,0.1);
}

/* BUTTON */
.book-btn {
  margin-top: 25px;
  width: 100%;
  background: linear-gradient(45deg, #ff4d4d, #ff0000);
  color: white;
  border: none;
  padding: 12px;
  border-radius: 12px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.book-btn:hover {
  background: black;
  transform: scale(1.03);
}










/* ================= MOBILE ================= */
@media (max-width: 768px) {

  .sidebar {
    width: 85%;
    left: -100%;
  }

  .sidebar.open {
    left: 0;
  }

  .toggle-btn {
    top: 250px;
    padding: 10px 14px;
    font-size: 14px;
    
  }

  .sidebar h2 {
    font-size: 18px;
  }

  .card {
    font-size: 14px;
  }
  
.toggle-btn {
   /* ASIA NHI HO SKTA AUTOMATIC HIDE ANDS SEEK KRE */
  top: 360px;
  padding: 10px 14px;
  font-size: 14px;
  max-block-size: none;

}
}

/* mobile responsive mein daycae button bhut bada ho rha hai kaise kare chhota ya slide option touch krebe apr */


