/* CONTAINER */
.why-choose-us-container {
  max-width: 900px;
  margin: 50px auto;
  padding: 30px 20px;
  text-align: center;
  background: linear-gradient(135deg, #f9f9ff, #eef3ff);
  border-radius: 15px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.1);
}

/* HEADING */
.why-choose-us-heading {
  font-size: 30px;
  font-weight: bold;
  color: #007bff;
  margin-bottom: 25px;
}

/* LIST */
.list-container {
  list-style: none;
  padding: 0;
}

/* LIST ITEM */
.list-item {
  background: #fff;
  margin: 10px 0;
  padding: 12px 15px;
  border-radius: 10px;
  text-align: left;
  font-size: 16px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
  transition: 0.3s;
  position: relative;
  padding-left: 35px;
}

/* ICON  */
/* .list-item::before {
  content: "✔ ";
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: green;
  font-size: 16px;
  font-weight: bold;
} */

/* HOVER */
.list-item:hover {
  transform: translateX(5px);
  background: #eaf2ff;
}

/* ================= MOBILE ================= */
@media (max-width: 768px) {

  .why-choose-us-container {
    margin: 30px 15px;
    padding: 20px 15px;
  }

  .why-choose-us-heading {
    font-size: 22px;
    
    

  }

  .list-item {
    font-size: 14px;
    padding: 10px 12px;
    padding-left: 30px;
    ;
  }
}

/* ================= TABLET ================= */
@media (min-width: 769px) and (max-width: 1024px) {

  .why-choose-us-heading {
    font-size: 26px;
  }

  .list-item {
    font-size: 15px;
  }
}